body { 
	padding-top: 70px;
	height:1000px;
}

/*Navbar*/
.navbar{
	background-color:#252944;
	font-family: "Lato", sans-serif;
	border: none;
	font-size: 1.1em;
	padding: 10px;
}
.navbar-right{
	margin-right: 10px;
}
.navbar-inverse .navbar-nav>li>a{
	color:#ffffff;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color:#EF4C4A;
	font-weight:bold;
}
.navbar-inverse .navbar-brand{
	color:#ffffff;
	font-size: 1.2em;
}
a.navbar-brand img, a.navbar-brand:active img, a.navbar-brand:visited img {
    width: 30px;
    float: left;
    margin-right: 5px;
    position: relative;
    top: -6px;
}
.navbar .btn{
	padding: 7px 20px;
}

/*Page*/
#page{
	padding: 40px 0px;
	font-family: "Lato",sans-serif;
}
/*Row-header*/
.row-header p{
	font-size: 3.0em;
	padding-top: 50px;
	margin-bottom: 20px;
}
.row-header .btn{
	padding: 15px 20px;
	font-size: 1.6em;
}
#header-logo{
	width: 15%;
    float: left;
    margin-right: 5px;
    position: relative;
    top: 4px;
}
#large-font{
	font-size: 1.6em;
	margin-right: 10px;
}
/*Row-problem*/
.row-problem{
	/*height: 500px;*/
	background-color:#252944;
	color:#ffffff;
	padding-top: 30px;
	font-size: 2.0em;
	line-height: 1.8em;
}
.row-problem>div{
	margin-bottom: 25px;
}
.row-problem strong{
	font-size:1.4em;
}
#referral-68{
	padding-top: 50px;
}
/*Row Features*/
.row-features{
	padding-top: 30px;
}
.row-features h1{
	font-size: 3.2em;
	margin-bottom: 30px;
}
.row-features h2{
	font-size: 2.7em;
	color: #EF4C4A;
}
.row-features>div, .row-features>img{
	margin-bottom: 20px;
}
.row-features p{
	margin-top: 20px;
	font-family: 'Open Sans',sans-serif;
	font-size: 1.7em;
	line-height: 2.1em;
}
/*call to action*/
.row-call-to-action{
	/*background-color:#252944; */
	padding: 30px 0px;
}
.row-call-to-action .btn{
	padding: 15px 7px;
	font-size: 1.5em;
	margin-bottom: 15px;
}
/*Footer*/
footer{
	background-color: #bdc3c7;
    color: black;
    padding: 20px 0px;
    font-size: 1.1em;
}
footer .title{
	font-weight:bold;
	margin-bottom: 5px;
}
footer li{
	margin-bottom: 10px;
}
footer a{
	color: black;
}
footer .pull-right{
	margin-top: 20px;
	padding-right: 30px;
}