body { 
	padding-top: 70px;
	height:1000px;
}
.navbar{
	background-color:#252944;
	font-family: "Lato", sans-serif;
	border: none;
	font-size: 1.1em;
	padding: 10px;
}
.navbar-right{
	margin-right: 10px;
}
.navbar-inverse .navbar-nav>li>a{
	color:#ffffff;
}
.navbar-inverse .navbar-brand{
	color:#ffffff;
	font-size: 1.2em;
}
a.navbar-brand img, a.navbar-brand:active img, a.navbar-brand:visited img {
    width: 30px;
    float: left;
    margin-right: 5px;
    position: relative;
    top: -6px;
}
.navbar .btn{
	padding: 7px 20px;
}
